<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Example App using a custom Library
  </h1>
  <div style="text-align:left">
    <p>
      This app demonstrates developing an Angular library that is used by mutliple apps. The goal is to allow developers to work
      on both the library and the consuming application at the same time as seemlessly as possible.</p>
    <p> To acheive this, we want to use 'npm link' to publish the library for the app to use. Changes in the library are detected
      and trigger the App to rebuild and redeploy itself.
    </p>
  </div>
</div>
<div>
  <p>Here is a component exported from the Library</p>
  <!-- <stoy-widget>I'm a Widget from the external Library!</stoy-widget> -->
  <br>
  <p>Some data from a service exported from the Library</p>
  <!-- <div>The current time is: {{timeService.getCurrentTime()}}</div> -->
</div>
